

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@* Motorul de cautare *@

<form id="searchForm" method="GET">
    <div class="flex items-center space-x-2 mb-3">
        <input type="text" class="form-control" placeholder="Cauta aici atributele animalutului..." name="search" value="@ViewBag.SearchString">
        <button class="px-5 py-2 m-2 text-yellow-600 border border-yellow-600 rounded-md hover:bg-yellow-500 hover:text-white focus:outline-none" type="submit">Cauta</button>
    </div>



    @{
        var selectedSpecies = ViewBag.SpeciesFilter;
        var selectedBreed = ViewBag.BreedFilter;
        var selectedColor = ViewBag.ColorFilter;
        var selectedLocation = ViewBag.LocationFilter;
        var selectedSize = ViewBag.SizeFilter;
        var selectedAge = ViewBag.AgeFilter;
        var selectedSex = ViewBag.SexFilter;
        var selectedSterilized = ViewBag.SterilizeFilter;
        var selectedVaccined = ViewBag.VaccineFilter;
    }

    <div style="display: flex ; gap: 50px; margin-bottom: 10px; ">
        <select class="form-select" name="speciesFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza specia</option>
            @foreach (var species in ViewBag.SpeciesList)
            {
                <option value="@species" selected="@(species == selectedSpecies)">@(species)</option>
            }
        </select>

        <select class="form-select" name="breedFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza rasa</option>
            @foreach (var breed in ViewBag.BreedsList)
            {
                <option value="@breed" selected="@(breed == selectedBreed)">@(breed)</option>
            }
        </select>

        <select class="form-select" name="colorFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza culoarea</option>
            @foreach (var color in ViewBag.ColorList)
            {
                <option value="@color" selected="@(color == selectedColor)">@(color)</option>
            }
        </select>

        <select class="form-select" name="locationFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza locatia</option>
            @foreach (var location in ViewBag.LocationList)
            {
                <option value="@location" selected="@(location == selectedLocation)">@(location)</option>
            }
        </select>

        <select class="form-select" name="sizeFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza marimea</option>
            @foreach (var size in ViewBag.SizeList)
            {
                <option value="@size" selected="@(size == selectedSize)">@(size)</option>
            }
        </select>

    </div>

    <div style="padding: 10px; border-radius: 8px; display: flex; gap: 50px; margin-bottom: 10px;">

        <select class="form-select" name="ageFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza varsta</option>
            @foreach (var age in ViewBag.AgeList)
            {
                <option value="@age" selected="@(age == selectedAge)">@(age)</option>
            }
        </select>

        <select class="form-select" name="sexFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Selecteaza sexul</option>
        @foreach (var sex in ViewBag.SexList)
        {
                <option value="@sex" selected="@(sex == selectedSex)">@(sex)</option>
        }
        </select>

        <select class="form-select" name="sterilizeFilter" style="width: 200px;background-color: #FEF3C7;">
            <option value="">Status sterilizare</option>
        @foreach (var st in ViewBag.SterilizeList)
        {
                <option value="@st" selected="@(st == selectedSterilized)">@(st)</option>
        }
        </select>

        <select class="form-select" name="vaccineFilter" style="width: 200px;background-color: #FEF3C7;">
                <option value="">Status vaccinare</option>
                @foreach (var vac in ViewBag.VaccineList)
                {
                    <option value="@vac" selected="@(vac == selectedVaccined)">@(vac)</option>
                }
            </select>

        </div>

    
    <button class="inline-block px-8 py-3 m-2 text-gray-100 bg-yellow-600 rounded-md shadow hover:bg-yellow-500" type="submit">Adauga filtrele</button>
    
</form>

@if (ViewBag.NullSearchMessage != null)
{
    <p>@Html.Raw(ViewBag.NullSearchMessage.Replace("\n", "<br />"))</p>
}

<script>
    function submitForm() {
        document.getElementById("searchForm").submit();
    }
</script>



<div class="flex flex-wrap bg-custom-background">
    @foreach (var pet in ViewBag.Pets)
    {
        <div class="relative flex flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md w-80 m-4">
            <a href="/Pets/Show/@pet.PetId">
                <div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-none shadow-none bg-clip-border">
                    <img src="@pet.Image" alt="Pet Image" class="w-full h-41 object-cover">
                </div>
                <div class="p-6">
                    <h4 class="block font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                        @pet.Name
                    </h4>
                    <p class="text-sm mt-2">Gen: @(pet.Sex ? "Mascul" : "Femela") Age: @pet.Age</p>
                </div>
            </a>

            <a href="/Pets/Edit/@pet.PetId" class="mt-auto flex items-center justify-center w-full px-8 py-3 text-black bg-custom-yellow rounded-md shadow hover:bg-custom-dark-yellow">
                Editare Anunt
            </a>
        </div>
    }
</div>



<a href="/Pets/New" class="inline-block px-8 py-3 m-2 text-gray-100 bg-yellow-600 rounded-md shadow hover:bg-yellow-500">
    Adaugare anunt
</a>





@* pagination *@
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<style>
    .bg-custom-background {
        background-color: #FEF3C7; 
    }
    .bg-custom-yellow {
        background-color: #FDE68A; 
    }

    .hover\:bg-custom-dark-yellow:hover {
        background-color: #FEF3C7; 
    }
</style>
