@model PetConnect.Models.Pet


<br />


<div class="mx-auto flex flex-col items-center bg-white border border-gray-400 rounded-lg shadow md:flex-row md:max-w-screen-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full md:w-1/2 rounded-t-lg h-70 md:h-auto md:rounded-none md:rounded-l-lg" src="@Model.Image" alt="Pet Image">
    <div class="flex flex-col justify-between p-4 w-full md:w-1/2 leading-normal">
        <h3 class="text-2xl font-bold mb-4">@Model.Name</h3>
        @if (ViewBag.EsteUser && ViewBag.UserCurent != Model.UserId)
        {
            <div class="flex justify-start mb-3">

                <a href="/AdoptionRequests/New/@Model.PetId" class="mt-auto mr-10 flex font-semibold items-center justify-center px-4 py-2 text-black bg-custom-yellow rounded-md shadow hover:bg-custom-dark-yellow">Adopta</a>

                <form method="post" action="@Url.Action("StartConversation", "Message")">
                    <input type="hidden" name="otherUserId" value="@Model.UserId" />
                    <button type="submit" class="mt-auto flex font-semibold items-center justify-center px-4 py-2 text-black bg-custom-yellow rounded-md shadow hover:bg-custom-dark-yellow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                        </svg>
                        Începe conversație
                    </button>
                </form>
            </div>
        }
        <table class="table-auto">
            <tr>
                <td><strong>Specie</strong></td>
                <td>: @Model.Species</td>
            </tr>
            <tr>
                <td><strong>Rasa</strong></td>
                <td>: @Model.Breed</td>
            </tr>
            <tr>
                <td><strong>Varsta</strong></td>
                <td>: @Model.Age</td>
            </tr>
            <tr>
                <td><strong>Marime</strong></td>
                <td>: @Model.Size</td>
            </tr>
            <tr>
                <td><strong>Gen</strong></td>
                @if (Model.Sex)
                {
                    <td>: Mascul</td>
                }
                else
                {
                    <td>: Femela</td>
                }
            </tr>
            <tr>
                <td><strong>Culoare</strong></td>
                <td>: @Model.Color</td>
            </tr>
            <tr>
                <td><strong>Vaccinat</strong></td>
                @if (Model.Vaccined)
                {
                    <td>: Da</td>
                }
                else
                {
                    <td>: Nu</td>
                }
            </tr>
            <tr>
                <td><strong>Sterilizat</strong></td>
                @if (Model.Sterilized)
                {
                    <td>: Da</td>
                }
                else
                {
                    <td>: Nu</td>
                }
            </tr>
            <tr>
                <td><strong>Descriere</strong></td>
                <td>: @Model.Description</td>
            </tr>
            <tr>
                <td><strong>Locatie</strong></td>
                <td>: @Model.Location</td>
            </tr>
        </table>
        <br />
    </div>
</div>
<br />


<br />
<br />


@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong> <i class="bi bi-person"></i> @comm.User.UserName</strong>


                </div>
                <br>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {
                    <div class="d-flex align-items-center">

                        <div>
                            <a class="px-5 py-2 m-2 text-yellow-600 border border-yellow-600 rounded-md hover:bg-yellow-500 hover:text-white focus:outline-none" href="/Comments/Edit/@comm.Id">
                                <i class="bi bi-pencil-square"></i>Editeaza
                            </a>
                        </div>

                        <div>
                            <form method="post" action="/Comments/Delete/@comm.Id">
                                <button class="px-5 py-2 m-2 text-yellow-600 border border-yellow-600 rounded-md hover:bg-yellow-500 hover:text-white focus:outline-none" type="submit">
                                    <i class="bi bi-trash"></i>Sterge
                                </button>
                            </form>
                        </div>

                    </div>

                }
                <br />

            </div>
            <br>
            <br>
            <div class="col-md-2"></div>

        </div>

    </div>
}
@if (ViewBag.EsteAdmin || ViewBag.EsteUser)
{
    <div class="container ">

        <div class="row ">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card bg-custom-background">

                    <form method="post" action="/Pets/Show/@Model.PetId">

                        <div class="card-body">

                            <input type="hidden" name="PetId" value="@Model.PetId" />

                            <label>Continut comentariu</label>
                            <br />

                            <textarea class="form-control" name="Content"></textarea>

                            @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                            <br />

                            <button class="inline-block px-11 py-3 m-2 text-gray-100 bg-yellow-600 rounded-md shadow hover:bg-yellow-500" type="submit">Adauga comentariul</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

<style>
    .bg-custom-background {
        background-color: #FEF3C7;
    }

    .bg-custom-yellow {
        background-color: #FDE68A;
    }

    .hover\:bg-custom-dark-yellow:hover {
        background-color: #FEF3C7;
    }
</style>


