@model PetConnect.Models.AdoptionRequest

<h2 class="text-center mt-5 text-3xl">Completeaza cererea de adoptie</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm("New", "AdoptionRequests", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Message, "Mesaj pentru proprietar", new { @class = "text-xl mb-4" })
                    <br />
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(m => m.PetId)

                <div class="form-group flex justify-center">
                    <button class="mt-6 font-semibold self-start inline-flex items-center justify-center px-2 py-2 text-gray-100 hover:text-gray-100 bg-yellow-600 rounded-md shadow" type="submit">Trimite cererea</button>
                </div>
            }
        </div>
    </div>
</div>
