@model PetConnect.Models.AdoptionRequest

<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-8 offset-2 bg-custom-background text-center p-4 rounded">


            @using (Html.BeginForm("New", "AdoptionRequests", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
            
                <div class="form-group">
                    @Html.LabelFor(m => m.Message, "Mesaj pentru proprietar", new { @class = "custom-label" })
                    <br />
              
                    <br />
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                </div>

                <br />
                @Html.HiddenFor(m => m.PetId);

                <div class="form-group">
                    <button class="inline-block px-11 py-3 m-2 text-gray-100 bg-yellow-600 rounded-md shadow hover:bg-yellow-500" type="submit">Trimite cerere</button>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .custom-label {
        font-size: 30px;
        font-weight: bold;
        color: #D97706;
    }
    .bg-custom-background {
        background-color: #FEF3C7;
    }

    .bg-custom-yellow {
        background-color: #FDE68A;
    }

    .hover\:bg-custom-dark-yellow:hover {
        background-color: #FEF3C7;
    }
</style>
